[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pyx = "*"
cryptography = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.7"

[packages.scapy]
git = "https://github.com/secdev/scapy"
