[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
pyx = "*"
cryptography = ">=1.7"
graphviz = "*"
scapy = {git = "https://github.com/secdev/scapy"}

[requires]
python_version = "3.6"
